@import "tailwindcss";


:root {
    @apply bg-gray-100;
}

body {
    @apply bg-gray-100;
}

@theme {
    --color-main: #1082CE;
    --color-accent: #084268;
    --color-secondary: #07a1f0;
    --color-primary-50: #f1f8fe;
    --color-primary-100: #e2f0fc;
    --color-primary-200: #bee1f9;
    --color-primary-300: #85c9f4;
    --color-primary-400: #44aeec;
    --color-primary-500: #1c95db;
    --color-primary-600: #1082ce;
    --color-primary-700: #0d5e97;
    --color-primary-800: #0f507d;
    --color-primary-900: #124368;
    --color-primary-950: #0c2b45;

    --color-secondary-50: #eff9ff;
    --color-secondary-100: #dff1ff;
    --color-secondary-200: #b8e5ff;
    --color-secondary-300: #79d1ff;
    --color-secondary-400: #32b9fe;
    --color-secondary-500: #07a1f0;
    --color-secondary-600: #0080ce;
    --color-secondary-700: #0066a6;
    --color-secondary-800: #035689;
    --color-secondary-900: #084268;
    --color-secondary-950: #062d4b;
}

.clip-inward-right {
    clip-path: polygon(
            0 0,
            100% 0,
            90% 50%,
            100% 100%,
            0 100%
    );
}